<!-- # @Note: REDUNDANT CODE:
# This piece of code needs to be integrated with the above /search-hike route,
#     created separate button just for testing purpose -->
{% extends 'base.html' %}
{% block title %}Current location{% endblock %}

{% block content %}

{% if "user_name" in session %}
<h5> Welcome, {{ session["user_name"] }}. Do we have hiking trails around us?<br>
Let's find out!</h5><br><br>
{% endif %}

<div id = "location" align = "center">
<h3>Click the button below to search hikes by your current location!</h3>

<!-- Button for getting the current Lat-long position.
Upon click, the button prints current latlong on text fields.
Note that this button is outside of the 'form' tags-->

<button id="find-loc" onclick="getLocation()">Find my current location</button><br>


<form action="/search-hike" method="POST" id="loc-radius">


<input type="hidden" name="curr-lat" id="curr-lat"><br>
<input type="hidden" name="curr-long" id="curr-long"><br>


<h3>We secretly found where you are!! <br>
Please select the radius range(in miles) and hit 'Go'!: </h3>
                <select name="radius" required>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>


<input type="submit" id="go" name="search" value="Go" />

</form>
</div>

  <script>

  function getLocation(){
   navigator.geolocation.getCurrentPosition(showPosition);
  }

  function showRadiusDropdown(){
        $("#loc-radius").show();
  }

  function showPosition(position) { 
    document.getElementById("curr-lat").value = position.coords.latitude;
    document.getElementById("curr-long").value = position.coords.longitude;
    showRadiusDropdown();
  }

  $("#loc-radius").hide();

  </script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>


<!-- TODO: Thinking of adding current location on map -->



{% endblock %}