<!-- Jinja page displaying search results -->
{% extends 'base.html' %}
{% block title %}Hike Search page{% endblock %}

   {% block content %}


        {% if "user_name" in session %}
        <h3> Hello, {{ session["user_name"] }}! Search for your favorite hike!</h3>
        {% endif %}
<br><br>

<!-- Adding maps below on the results page. 
@TODO: Note that this is just a dummy map, and I need to pass live variables here
to display markers according to the search_results -->
    <div id="boxes" align = "center">
        <form action="/search-hike" id="search-form" method="POST">

                City: <input type="text" name="city" style="border: 1px solid grey"><br><br>
                State:<input type="text" name="state" style="border: 1px solid grey"><br><br>
                Within how many miles are you searching for your fun hike?:
                <select name="radius" required style="border: 1px solid grey">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>

                <input type="submit" id="go" name="search" value="Go" style="border: 1px solid grey" />
        </form>
    </div>
<!--         // <script src="../static/map_search.js"></script> -->
   {% endblock %}