{% extends 'base.html' %}
{% block title %}Results Page{% endblock %}

   {% block content %}

    {% if "user_name" in session %}
    <p>{{ session["user_name"] }}'s trail information page</p>
    {% endif %}

    <h2>Trail Name: {{ trail_name }}</h2>
<div class="container">

    <div class="row">
<!-- Column for image, desc, length, average rating and share buttons -->
        <div class="col-sm-8">

            <div class="w3-content w3-display-container">
              <img class="mySlides" src="../static/alum_rock_1.jpg" style="width:90%">
              <img class="mySlides" src="../static/alum_rock_2.jpg" style="width:90%">

              <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
              <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>

            </div>

            <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
              showDivs(slideIndex += n);
            }

            function showDivs(n) {
              var i;
              var x = document.getElementsByClassName("mySlides");
              if (n > x.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = x.length}
              for (i = 0; i < x.length; i++) {
                 x[i].style.display = "none";  
              }
              x[slideIndex-1].style.display = "block";  
            }
            </script>

          <h2>Description:</h2><br>
          <p>{{ trail_description }}. {{ trail_directions }}</p><br>
          <h3>Trail length:</h3>{{ trail_length }} miles<br>
          <br><h3> Average rating: 4 / 5 stars</h3>

        </div>
        <!-- end of 1st column -->

        <!-- Start of second column -->
        <div class="col-sm-4" style="border-color: black">
          <h2>Past reviews:</h2>
            {% for review in trail_reviews %}
            <b>By:</b>{{ review.user.user_name }}<br>
            <b>Rating:</b> {{ review.score }} stars<br>
            <u><i><b>{{ review.comment_title }}</u></i></b><br>
            <p>Comments: {{ review.comment_description}}</p><br>
            {% endfor %}  

            <h2>Add a review:</h2>
            <div id="stars" class="starrr"></div>
            You gave a rating of <span id="count">0</span> star(s)

            <br><b>Add a comment:</b><br>
            Comment title: <textarea id="title" rows="1"></textarea><br>
            <textarea id="comments" rows="4" cols="50"></textarea><br>

            <input type="hidden"  id="trail_id" name="trail_id" value="{{ trail_id }}">
            <input type="hidden"  id="name" name="name" value="{{ session['user_name'] }}">
            <button type="button" id="add-review">Submit</button>
        </div>
        <!-- End of second column -->

    </div>
    <!-- End of div row -->

</div>  
<!-- End of container div -->
{% endblock %}


{% block script %}
    <script>
// Event listener for 'click' button to send score, comments, trail ID, user ID
// to the server.
        let buttonText = document.querySelector('#add-review');

        function submitComment(evt) {

            console.log("in submitcomment");
            // Ajax way of creating form inputs for request.form in server
            let formInputs = {
                "score": $('#count').text(),
                "title": $('#title').val(),
                "commentText": $("#comments").val(),
                "trail_id" : $('#trail_id').val(),
                "name": $('#name').val()
            };

            // Sending 'Post' data via Ajax
            $.post("/add-review", formInputs, submitResults);
        }
        // End of event listner function

        function submitResults(results){
            console.log("in submitResults");
            console.log(results);
        }

        buttonText.addEventListener('click', submitComment);

    </script>

    <script>
        var __slice = [].slice;

        (function($, window) {
          var Starrr;

          Starrr = (function() {
            Starrr.prototype.defaults = {
              rating: void 0,
              numStars: 5,
              change: function(e, value) {}
            };

            function Starrr($el, options) {
              var i, _, _ref,
                _this = this;

              this.options = $.extend({}, this.defaults, options);
              this.$el = $el;
              _ref = this.defaults;
              for (i in _ref) {
                _ = _ref[i];
                if (this.$el.data(i) != null) {
                  this.options[i] = this.$el.data(i);
                }
              }
              this.createStars();
              this.syncRating();
              this.$el.on('mouseover.starrr', 'span', function(e) {
                return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
              });
              this.$el.on('mouseout.starrr', function() {
                return _this.syncRating();
              });
              this.$el.on('click.starrr', 'span', function(e) {
                return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
              });
              this.$el.on('starrr:change', this.options.change);
            }

            Starrr.prototype.createStars = function() {
              var _i, _ref, _results;

              _results = [];
              for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
                _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
              }
              return _results;
            };

            Starrr.prototype.setRating = function(rating) {
              if (this.options.rating === rating) {
                rating = void 0;
              }
              this.options.rating = rating;
              this.syncRating();
              return this.$el.trigger('starrr:change', rating);
            };

            Starrr.prototype.syncRating = function(rating) {
              var i, _i, _j, _ref;

              rating || (rating = this.options.rating);
              if (rating) {
                for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                  this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                }
              }
              if (rating && rating < 5) {
                for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
                  this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                }
              }
              if (!rating) {
                return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
              }
            };

            return Starrr;

          })();
          return $.fn.extend({
            starrr: function() {
              var args, option;

              option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
              return this.each(function() {
                var data;

                data = $(this).data('star-rating');
                if (!data) {
                  $(this).data('star-rating', (data = new Starrr($(this), option)));
                }
                if (typeof option === 'string') {
                  return data[option].apply(data, args);
                }
              });
            }
          });
        })(window.jQuery, window);

        $(function() {
          return $(".starrr").starrr();
        });

        $( document ).ready(function() {
              
          $('#stars').on('starrr:change', function(e, value){
            $('#count').html(value);
          });
          
          $('#stars-existing').on('starrr:change', function(e, value){
            $('#count-existing').html(value);
          });
        });

</script>

{% endblock %}