<!DOCTYPE html>
<html lang="en">
<head>
  <title>Individual result page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Grid</h1>
   
    <p>Resize the browser window to see the effect.</p>      
    <div class="row">
        <div class="col-sm-6" style="border-color: black">
            {% for review in trail_reviews %}
            <p>Comments: {{ review.comment_description}}</p>made by :{{ review.user.user_name }} <br>
            {% endfor %}  
        </div>

        <div class="col-sm-6">
        {% for review in trail_reviews %}
            <p>dummy review </p>
        {% endfor %} 

            <div style="float: left; padding: 8px 8px 8px 8px; border-right: 1px solid #ccc; background: yellow">
                <a href="#">Add a review</a></div>

            <div style="float: left; padding: 8px 0 7px 8px; background: yellow">
                <a href="#">
                    Read Reviews
                </a>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-sm-8">
            <h1> Map centered at the city of the individual hike </h1>  
        </div>

        <div class="col-sm-4">
            <h1> Campground info </h1>  
        </div>


    </div>


</div>  
<!-- End of container div -->
</body>
</html>