 {% extends 'base.html' %}
 {% block title %} {{ session["user_name"] }}'s Profile{% endblock %}
    
  {% block div %} 
     
         </div>
         <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
           <ul class="nav navbar-nav">
                 <li id="user-search"><a href="">Past searches</a></li>
                 <li id="user-reviews"><a href="">Reviews</a></li>
<!--                  <li><a href="">Comments</a></li> -->
                 <li class="divider"></li>
               </ul>
             </li>          
           </ul>
  {% endblock %}


  {% block content %}
    <p>Welcome, {{ session["user_name"] }}</p> 

<div class="rows">
    <div class="col-sm-6">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="John" style="width:100%">
      <h1>John Doe</h1>
      <p class="title">Passionate Hiker!</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div>
     <p><button>Contact</button></p>
    </div>
    <!-- End of card div -->
    <b>About Me:</b>
    </div>
    <!-- End of column1 -->


    <div class="col-sm-6">

      <!-- Start of past searches div -->
      <div id="search-info" class="search-info"><u><b>{{ session["user_name"] }}'s past searches:</u></b><br>
        {% if past_searches|length > 0 %}

        {% for search in past_searches %}
      <!-- Creating button for every search result with details -->
         <button type="button" onclick="window.location.href='/saved-results?city={{ search.city }}&state={{ search.state}}&radius={{ search.radius }}'">{{ search.city }}, {{ search.state}} within {{ search.radius }} miles!</button><br>
               <input type = "hidden" name="city" value="{{ search.city }}">
                <input type = "hidden" name="state" value="{{ search.state }}">
                <input type = "hidden" name="radius" value="{{ search.radius }}"><br>

        {% endfor %}

        {% else %}   
        <p> {{ session["user_name"] }} has no saved searches </p>
        {% endif %}
      </div>
      <!-- End of past searches div -->

      <!-- Start of past reviews div -->
      <div id='reviews'><u><b>{{ session["user_name"] }}'s reviews </u></b>
        {% if past_reviews|length > 0 %}
        {% for review in past_reviews %}
          <b><p>Trail:</b> {{ review.hiketrail.trail_name }}
          <b><p>Score:</b> {{ review.score }}
          <b><p>Comment: {{ review.comment_title }}</b>
          <b><p>Description:</b> {{ review.comment_description }}</p><br>
        {% endfor %}

        {% else %}   
        <p> {{ session["user_name"] }} has not reviewed any hike </p>
        {% endif %}
      </div>
      <!-- End of reviews div -->

    {% block script %}

    <script>

    </script>

    {% endblock %}

    {% endblock %}
