 {% extends 'base.html' %}
 {% block title %} {{ session["user_name"] }}'s Profile{% endblock %}
    
  {% block div %} 
     
         </div>
         <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
           <ul class="nav navbar-nav">
                 <li id="user-search"><a href="">Past searches</a></li>
                 <li id="user-reviews"><a href="">Reviews</a></li>
<!--                  <li><a href="">Comments</a></li> -->
                 <li class="divider"></li>
               </ul>
             </li>          
           </ul>
  {% endblock %}

{% block content %}



<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row-panel">
    <div class="col-md-4 bg_blur ">
          <!-- <a href="#" class="follow_btn hidden-xs">Follow</a> -->
          <img src="user_image2.png"/>
    </div>


        <div class="col-md-8  col-xs-12">
           <img src="user_image2.png" class="img-thumbnail picture hidden-xs" />
           <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />
           <div class="header">
                <h1>{{ session["user_name"] }}</h1>
                <h4>Love hikes!</h4>
                <b><i>About Me:</i></b><br>
                A proud Sagittarian, a lackadaisical hard worker, turned into a Trekker, an ambidextrous chap, an avid Reader, sky - gazer, philosopher, music maniac,loves observing each facet of life..
                <span></span>
           </div>
        </div>
    </div>   

</div>



<div class="rows" id="profile-searches">
    <div class="col-sm-6">

    <!-- End of card div -->

    </div>
    <!-- End of column1 -->


    <div class="col-sm-6" >

      <!-- Start of past searches div -->
      <div id="search-info" class="search-info" style="border: 2px solid green"><u><b>{{ session["user_name"] }}'s past searches:</u></b><br>
        {% if past_searches|length > 0 %}

        {% for search in past_searches %}
      <!-- Creating button for every search result with details -->
         <button type="button" onclick="window.location.href='/saved-results?city={{ search.city }}&state={{ search.state}}&radius={{ search.radius }}'">{{ search.city }}, {{ search.state}} within {{ search.radius }} miles!</button><br>
               <input type = "hidden" name="city" value="{{ search.city }}">
                <input type = "hidden" name="state" value="{{ search.state }}">
                <input type = "hidden" name="radius" value="{{ search.radius }}"><br>

        {% endfor %}

        {% else %}   
        <p> {{ session["user_name"] }} has no saved searches </p>
        {% endif %}
      </div><br>
      <!-- End of past searches div -->

      <!-- Start of past reviews div -->
      <div id='reviews' style="border: 2px solid green"><u><b>{{ session["user_name"] }}'s reviews </u></b>
        {% if past_reviews|length > 0 %}
        {% for review in past_reviews %}
          <b><p>Trail:</b> {{ review.hiketrail.trail_name }}
          <b><p>Score:</b> {{ review.score }}
          <b><p>Comment: {{ review.comment_title }}</b>
          <b><p>Description:</b> {{ review.comment_description }}</p>
        {% endfor %}

        {% else %}   
        <p> {{ session["user_name"] }} has not reviewed any hike </p>
        {% endif %}
      </div>
      <!-- End of reviews div -->






    {% block script %}

    <script>

    </script>

    {% endblock %}

    {% endblock %}
